
.mint-button--primary {
    background-color: #8bc34a;
}
.mint-cell-wrapper{
  background-image: none !important;
  background: none;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.mint-cell-title .material-icons{
      vertical-align: middle;
}
.mint-header{
  background: #f8f8f8;
  border-bottom: 1px solid #bbb;    color: #101010;
}
